{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="link">
                <a class="todo" href="/"><b>TODO</b></a>
                <a class="link_about" href="/about">About us</a>
                {% if user.is_authenticated %}
                    <a class = "links" href="logout">Logout</a>
                {% else %}
                        <a class="links" href="login">Login</a>
                        <a class="links" href="registration">Registration</a>
                {% endif %}
            </div>
        </div>
        {% block content %}{% endblock %}
    </body>
</html>